@model VeeStoreA.Models.Cart

@{
    ViewBag.Title = "cartDetails";
    Layout = "~/Views/Shared/_ThemeLayout.cshtml";
}

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="../Content/Theme/app-assets/css/core/menu/menu-types/horizontal-menu.css">
<link rel="stylesheet" type="text/css" href="../Content/Theme/app-assets/css/plugins/extensions/ext-component-sliders.css">
<link rel="stylesheet" type="text/css" href="../Content/Theme/app-assets/css/pages/app-ecommerce.css">
<link rel="stylesheet" type="text/css" href="../Content/Theme/app-assets/css/plugins/extensions/ext-component-toastr.css">
<link rel="stylesheet" type="text/css" href="../Content/Theme/app-assets/css/components.css">
<link rel="stylesheet" type="text/css" href="../Content/Theme/app-assets/css/components.min.css">
<link rel="stylesheet" type="text/css" href="../Content/Theme/app-assets/css/boot">
<link rel="stylesheet" type="text/css" href="../Content/Theme/app-assets/css/components.min.css">
<!-- END: Page CSS-->

<section id="ecommerce-header">
    <div class="row">
        <div class="col-sm-12">
            <div class="ecommerce-header-items">
                <div class="col-12">
                    <a type="button" class="btn btn-icon btn-gradient-primary waves-effect waves-float waves-light float-start" href="@Url.Action("Index", "Carts")">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
                    </a>

                    <h2 class="float-start" style="border: 0px; padding: 0px; padding-top: 5px;"> &nbsp; Cart Items</h2>

                </div>
            </div>
        </div>
    </div>
</section>


@if (ViewBag.errorAdminProd != null)
{
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error</h4>
        <div class="alert-body">
            @ViewBag.errorAdminProd
        </div>
    </div>
}

<br />

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Products</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.CartItems)
            {

                <tr>
                    <td>
                        <img src="~/Content/Images/Products/@item.Product.ImageName" alt="img-placeholder" class="me-75" height="100">
                        <span class="fw-bold">@item.Product.Name</span>
                    </td>
                    <td>@item.Product.Description</td>
                    <td>
                        <span class="badge rounded-pill badge-light-success me-1">
                            @item.Product.CartItems.Sum(x => x.Product.Price * x.Quantity) @item.Cart.Customer.Currency.Symbol
                        </span>
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                </tr>


            }
        </tbody>
    </table>
</div>
<!-- E-commerce Products Ends -->
