@model IEnumerable<VeeStoreA.Models.Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_ThemeLayout.cshtml";
}


<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="../Content/Theme/app-assets/css/core/menu/menu-types/horizontal-menu.css">
<link rel="stylesheet" type="text/css" href="../Content/Theme/app-assets/css/plugins/extensions/ext-component-sliders.css">
<link rel="stylesheet" type="text/css" href="../Content/Theme/app-assets/css/pages/app-ecommerce.css">
<link rel="stylesheet" type="text/css" href="../Content/Theme/app-assets/css/plugins/extensions/ext-component-toastr.css">
<link rel="stylesheet" type="text/css" href="../Content/Theme/app-assets/css/components.css">
<link rel="stylesheet" type="text/css" href="../Content/Theme/app-assets/css/components.min.css">
<link rel="stylesheet" type="text/css" href="../Content/Theme/app-assets/css/boot">
<link rel="stylesheet" type="text/css" href="../Content/Theme/app-assets/css/components.min.css">
<!-- END: Page CSS-->

@if (TempData["errorAdminProd"] != null)
{
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error</h4>
        <div class="alert-body">
            @TempData["errorAdminProd"]
        </div>
    </div>
}
<!-- E-commerce Content Section Starts -->
<section id="ecommerce-header">
    <div class="row">
        <div class="col-12 mb-1">
            <a type="button" class="btn btn-icon btn-gradient-primary waves-effect waves-float waves-light float-start" href="@Url.Action("AdminPanel", "Home")">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
            </a>

            <h2 class="float-start" style="border: 0px; padding: 0px; padding-top: 5px;"> &nbsp; Products</h2>
            <div class="view-options d-flex float-end">
                @if (User.Identity.Name == "admin@admin.com")
                {
                    @Html.ActionLink("Add New Product", "Create", "Products", null, new { @class = "btn btn-outline-primary" })
                }

            </div>

        </div>
        
        <div class="col-sm-12">

            <div class="ecommerce-header-items">
                <div class="result-toggler">

                    <button class="navbar-toggler shop-sidebar-toggler" type="button" data-bs-toggle="collapse">
                        <span class="navbar-toggler-icon d-block d-lg-none"><i data-feather="menu"></i></span>
                    </button>

                    <div class="search-results">@Model.Count() result(s) found</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- E-commerce Content Section Starts -->
<!-- E-commerce Search Bar Starts -->
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-inline" }))
{
    <section id="ecommerce-searchbar" class="ecommerce-searchbar">
        <div class="row mt-1">
            <div class="col-sm-12">
                <div class="input-group input-group-merge">

                    <input type="text" name="SearchString" class="form-control search-product" id="shop-search" placeholder="Search Product" aria-label="Search..." aria-describedby="shop-search" />

                    <span class="input-group-text"><i data-feather="search"></i></span>
                </div>
            </div>
        </div>

    </section>

}
<!-- E-commerce Search Bar Ends -->
<!-- E-commerce Products Starts -->

<br />
<br />

<div class="table-responsive" style="padding-bottom: 100px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Products</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category Name</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var product in Model)
            {

                <tr>
                    <td>
                        <img src="~/Content/Images/Products/@product.ImageName" alt="img-placeholder" class="me-75" height="100">
                        <span class="fw-bold">@product.Name</span>
                        @{
                            if (Model.Count(x => x.CategoryId == product.CategoryId) <= 3)
                            {
                                <span class="badge rounded-pill badge-light-warning me-1">low Stock</span>
                            }
                        }
                    </td>
                    <td>@product.Description</td>
                    <td>
                        @product.Price
                    </td>
                    <td>@product.Category.Name</td>
                    <td>
                        @{
                            if (product.Status == "Visible")
                            {
                                <span class="badge rounded-pill badge-light-primary me-1">Visible</span>
                            }
                            else
                            {
                                <span class="badge rounded-pill badge-light-danger me-1">Invisible</span>
                            }
                        }
                    </td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn btn-sm dropdown-toggle hide-arrow py-0 waves-effect waves-float waves-light" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" style="">
                                <a class="dropdown-item" href="@Url.Action("Edit", "Products", new { id = product.Id })">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 me-50"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                                    <span>Edit</span>
                                </a>
                                <a class="dropdown-item" href="@Url.Action("Delete", "Products", new { id = product.Id })">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash me-50"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
                                    <span>Delete</span>
                                </a>
                                <a class="dropdown-item" href="@Url.Action("ToggleVisibility", "Admin", new { id = product.Id })">
                                    @{
                                        if (product.Status == "Active" || product.Status == null)
                                        {
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye-off me-50"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg>
                                            <span>Make Invisible</span>
                                        }
                                        else
                                        {
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye me-50"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                            <span>Make Visible</span>
                                        }
                                    }
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>


            }
        </tbody>
    </table>
</div>
<!-- E-commerce Products Ends -->
