

<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">

    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/vendors/css/vendors.min.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->

    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/css/components.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/css/themes/bordered-layout.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/css/core/menu/menu-types/horizontal-menu.css">
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->
<!-- BEGIN: Body-->

<body class="horizontal-layout horizontal-menu  navbar-floating footer-static  " data-open="hover" data-menu="horizontal-menu" data-col="">

    <!-- BEGIN: Header-->
    @Html.Partial("_NewLoginPartial")
    <!-- END: Header-->
    <!-- BEGIN: Main Menu-->
    <div class="horizontal-menu-wrapper ">
        <div class="header-navbar navbar-expand-sm navbar navbar-horizontal floating-nav navbar-light navbar-shadow menu-border container-xxl" role="navigation" data-menu="menu-wrapper" data-menu-type="floating-nav">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item me-auto"><a class="navbar-brand" href="#"><span class="brand-logo"><h1 class="brand-text mb-0">VeeStore</h1></a></li>
                    <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"><i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i></a></li>
                </ul>
            </div>
            <br>
            <!-- Horizontal menu content-->
            <div class="navbar-container main-menu-content" data-menu="menu-container">
                <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
                    <li class="nav-item @(ViewBag.title =="Home"?"active":null)"><a class="nav-link d-flex align-items-center" href="@Url.Action("Index","Home")"><i data-feather="home"></i><span>Home</span></a> </li>
                    <li class="nav-item @(ViewBag.title =="Products"?"active":null)"><a class="nav-link d-flex align-items-center" href="@Url.Action("Index","Products")"><i data-feather="shopping-bag"></i><span>Products</span></a> </li>
                    <li class="nav-item @(ViewBag.title =="Contact Us"?"active":null)"><a class="nav-link d-flex align-items-center" href="@Url.Action("Contact","Home")"><i data-feather="phone"></i><span>Contact Us</span></a> </li>
                    <li class="nav-item @(ViewBag.title =="FAQ"?"active":null)"><a class="nav-link d-flex align-items-center" href="@Url.Action("FAQ","Home")"><i data-feather="help-circle"></i><span>FAQ</span></a> </li>

                </ul>
            </div>
        </div>
    </div>
    <!-- END: Main Menu-->
    <!-- BEGIN: Content-->

    <div class="app-content content ecommerce-application">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">

            <div class="content-detached">
                <div class="content-body">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>


    <!-- END: Content-->
    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
        <p class="clearfix mb-0">
            <span class="float-md-start d-block d-md-inline-block mt-25">COPYRIGHT &copy; 2022<a class="ms-25" href="https://instagram.com/710x" target="_blank">VeiaTeam</a><span class="d-none d-sm-inline-block">, All rights Reserved</span></span>
            <span class="float-md-end d-none d-md-block">Made with<i data-feather="heart"></i> by Ahmed, Ali and Dania</span>
        </p>
    </footer>
    <button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>
    <!-- END: Footer-->
    <!-- BEGIN: Vendor JS-->
    <script src="~/Content/Theme/app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="~/Content/Theme/app-assets/js/core/app-menu.js"></script>
    <script src="~/Content/Theme/app-assets/js/core/app.js"></script>
    <!-- END: Theme JS-->
    <!-- BEGIN: Page JS-->
    @*@Scripts.Render("~/bundles/jquery")*@
   
    @*<script src="~/Content/Theme/app-assets/vendors/js/jquery/jquery.min.js"></script>*@
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
    <!-- END: Page JS-->

</body>
<!-- END: Body-->

</html>