@model VeeStoreA.Models.CouponCode

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_ThemeLayout.cshtml";
}


<link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/vendors/css/pickers/pickadate/pickadate.css">
<link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/css/plugins/forms/pickers/form-pickadate.css">


<style>
    .select2-selection__arrow b {
        display: none !important;
    }
</style>
@if (TempData["errorAdminCouponC"] != null)
{
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error</h4>
        <div class="alert-body">
            @TempData["errorAdminCouponC"]
        </div>
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card" data-select2-id="59">
        <div class="card-header border-bottom">
            <h4 class="card-title">Create a Coupon Code</h4>
        </div>
        <div class="card-body py-2 my-25" data-select2-id="58">
            <form class="validate-form mt-2 pt-50" novalidate="novalidate" data-select2-id="12">
                <div class="row" data-select2-id="57">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="col-12 col-sm-6 mb-1">
                        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })

                    </div>

                    <div class="col-12 col-sm-6 mb-1">
                        @Html.LabelFor(model => model.DiscountPercentage, htmlAttributes: new { @class = "form-label" })
                        <div class="input-group">
                            @Html.EditorFor(model => model.DiscountPercentage, new { htmlAttributes = new { @class = "form-control",type="number" } })
                            <span class="input-group-text">%</span>
                        </div>
                        @Html.ValidationMessageFor(model => model.DiscountPercentage, "", new { @class = "text-danger" })


                    </div>
                    <div class="col-12 col-md-6 mb-1 position-relative">
                        @Html.LabelFor(model => model.ExpiryDate, htmlAttributes: new { @class = "form-label" })
                        @*@Html.EditorFor(model => model.DiscountPercentage, new { htmlAttributes = new { @class = "form-control pickadate", placeholder = "Expiry Date" } })*@
                        
                        <input type="text" id="pd-default" name="ExpiryDate" class="form-control pickadate" placeholder="Expiry Date" />

                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary mt-1 me-1 waves-effect waves-float waves-light">Add Card Code</button>

                        @Html.ActionLink("Back to Coupon Codes", "Index", null, htmlAttributes: new { @class = "btn btn-outline-secondary mt-1 waves-effect" })
                    </div>
                </div>
            </form>
            <!--/ form -->
        </div>
    </div>
}
@Scripts.Render("~/Content/Theme/app-assets/vendors/js/jquery/jquery.min.js")

<script src="~/Content/Theme/app-assets/vendors/js/ui/jquery.sticky.js"></script>
<script src="~/Content/Theme/app-assets/vendors/js/pickers/pickadate/picker.js"></script>
<script src="~/Content/Theme/app-assets/vendors/js/pickers/pickadate/picker.date.js"></script>
<script src="~/Content/Theme/app-assets/vendors/js/pickers/pickadate/picker.time.js"></script>
<script src="~/Content/Theme/app-assets/vendors/js/pickers/pickadate/legacy.js"></script>
<script src="~/Content/Theme/app-assets/js/scripts/forms/pickers/form-pickers.js"></script>
