@model VeeStoreA.Models.CouponCode

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_ThemeLayout.cshtml";
}

<h2>Edit</h2>

<link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/vendors/css/forms/select/select2.min.css">
<style>
    .select2-selection__arrow b {
        display: none !important;
    }
</style>


@if (TempData["errorAdminCouponC"] != null)
{
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error</h4>
        <div class="alert-body">
            @TempData["errorAdminCouponC"]
        </div>
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card" data-select2-id="59">
        <div class="card-header border-bottom">
            <h4 class="card-title">Edit a Coupon Code</h4>
        </div>

        <div class="card-body py-2 my-25" data-select2-id="58">
            <form class="validate-form mt-2 pt-50" novalidate="novalidate" data-select2-id="12">
                <div class="row" data-select2-id="57">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="col-12 col-sm-6 mb-1">
                        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-12 col-sm-6 mb-1">
                        @Html.LabelFor(model => model.DiscountPercentage, htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(model => model.DiscountPercentage, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiscountPercentage, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-12 col-sm-6 mb-1">
                        @Html.LabelFor(model => model.ExpiryDate, htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(model => model.ExpiryDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Status" } })
                        @Html.ValidationMessageFor(model => model.ExpiryDate, "", new { @class = "text-danger" })
                    </div>


                    @Html.HiddenFor(model => model.CreatedAt, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                    @Html.ValidationMessageFor(model => model.CreatedAt, "", new { @class = "text-danger" })

                    <div class="col-12">
                        @if (ViewBag.canEdit)
                        {
                            <input type="submit" value="Save" class="btn btn-primary mt-1 me-1 waves-effect waves-float waves-light" />}

                        @Html.ActionLink("Back to Card Codes", "Index", null, htmlAttributes: new { @class = "btn btn-outline-secondary mt-1 waves-effect" })
                    </div>

                </div>

            </form>
        </div>
    </div>
}


@Scripts.Render("~/Content/Theme/app-assets/vendors/js/jquery/jquery.min.js")

<script src="~/Content/Theme/app-assets/vendors/js/forms/select/select2.full.min.js"></script>

<script src="~/Content/Theme/app-assets/js/scripts/forms/form-select2.js"></script>

