
@{
    ViewBag.Title = "AdminPanel";
    Layout = "~/Views/Shared/_ThemeLayout.cshtml";
}


<h2>Admin Panel</h2>

<div class="panel panel-danger text-center">
    <div class="panel-heading">
        <h3 class="panel-title">Admin CRUD Actions</h3>
    </div>
    <div class="panel-body">
        @Html.ActionLink("Manage Products", "Index", "Products", null, new { @class = "btn btn-info" })
        @Html.ActionLink("Manage Customers", "Index", "Customers", null, new { @class = "btn btn-info" })
        @Html.ActionLink("Manage Carts", "Index", "Carts", null, new { @class = "btn btn-info" })

    </div>
</div>

<div class="panel panel-info text-center">
    <div class="panel-heading">
        <h3 class="panel-title">Statistics</h3>
    </div>
    <div class="panel-body">
        <h4>Total Products: <strong>@ViewBag.totalProducts</strong></h4>
        <h4>Total Customers: <strong>@ViewBag.totalCustomers</strong></h4>
        <h4>Total Paid Carts:  <strong>@ViewBag.totalPaidCarts</strong></h4>
        <h4>Total Earnings:  <strong>@ViewBag.totalEarnings QAR</strong></h4>
    </div>
</div>
