@model VeeStoreA.Models.CartItem
<div class="card ecommerce-card">
    <div class="item-img">
        <a href="app-ecommerce-details.html">
            <img src="~/Content/Images/Products/@Model.Product.ImageName" alt="product" />
        </a>
    </div>
    <div class="card-body">
        <div class="item-name">
            <h6 class="mb-0"><a href="app-ecommerce-details.html" class="text-body">@Model.Product.Name</a></h6>
            <span class="item-company"><a href="#" class="company-name">@Model.Product.Category.Name</a></span>
            <div class="item-rating">
                <ul class="unstyled-list list-inline">
                    <li class="ratings-list-item"><i data-feather="star" class="filled-star"></i></li>
                    <li class="ratings-list-item"><i data-feather="star" class="filled-star"></i></li>
                    <li class="ratings-list-item"><i data-feather="star" class="filled-star"></i></li>
                    <li class="ratings-list-item"><i data-feather="star" class="filled-star"></i></li>
                    <li class="ratings-list-item"><i data-feather="star" class="unfilled-star"></i></li>
                </ul>
            </div>
        </div>
        <span class="text-success mb-1">In Stock</span>
        <div class="item-quantity">
            <span class="quantity-title">Qty:</span>
            <div class="quantity-counter-wrapper">
                <div class="input-group">
                    <input type="text" class="quantity-counter" value="@Model.Quantity" />
                </div>
            </div>
        </div>
        <span class="delivery-date text-muted">Instant Delivery</span>

    </div>
    <div class="item-options text-center">
        <div class="item-wrapper">
            <div class="item-cost">
                <h4 class="item-price">@Model.Product.Price @Model.Cart.Customer.Currency.Symbol</h4>
                <p class="card-text shipping">
                    <span class="badge rounded-pill badge-light-success">Digital Delivery</span>
                </p>
            </div>
        </div>
        <a href="@Url.Action("Delete","CartItems",new { id=Model.Id})" class="btn btn-light mt-1 remove-wishlist">
            <i data-feather="x" class="align-middle me-25"></i>
            <span>Remove</span>
        </a>
        
    </div>
</div>