@model VeeStoreA.Models.CartItem
@{

    int rating = 0;
    if (Model.Product.Ratings.Count() != 0)
    {
        rating = Model.Product.Ratings.Sum(r => r.Stars) / Model.Product.Ratings.Count();
    }


}
<div class="card ecommerce-card">
    <div class="item-img">
        <a href="@Url.Action("Details","Products",new { id = Model.ProductId })">
            <img src="~/Content/Images/Products/@Model.Product.ImageName" alt="product" />
        </a>
    </div>
    <div class="card-body">
        <div class="item-name">
            <h6 class="mb-0"><a href="app-ecommerce-details.html" class="text-body">@Model.Product.Name</a></h6>
            <span class="item-company"><a href="#" class="company-name">@Model.Product.Category.Name</a></span>
            <div class="item-rating">
                <ul class="unstyled-list list-inline">
                    <li class="ratings-list-item"><i data-feather="star" class="@(rating>0?"filled-star":"unfilled-star")"></i></li>
                    <li class="ratings-list-item"><i data-feather="star" class="@(rating>1?"filled-star":"unfilled-star")"></i></li>
                    <li class="ratings-list-item"><i data-feather="star" class="@(rating>2?"filled-star":"unfilled-star")"></i></li>
                    <li class="ratings-list-item"><i data-feather="star" class="@(rating>3?"filled-star":"unfilled-star")"></i></li>
                    <li class="ratings-list-item"><i data-feather="star" class="@(rating>4?"filled-star":"unfilled-star")"></i></li>
                </ul>
            </div>
        </div>
        @if (Model.Product.CardCodes.Where(cc => cc.Status == "New").Count() == 0)
        {
            <span class="text-danger mb-1">Out Of Stock</span>
        }
        else
        {
            <span class="text-success mb-1">In Stock</span>
        }

        <div class="item-quantity">
            <span class="quantity-title">Qty:</span>
            <div class="quantity-counter-wrapper">
                <div class="input-group bootstrap-touchspin">
                    <span class="input-group-btn bootstrap-touchspin-injected">
                        <a href="@Url.Action("DecrementItem","Transaction",new { id=Model.Id})" class="btn btn-primary bootstrap-touchspin-down" type="button">-</a>
                    </span>
                    <input type="text" class=" form-control" value=@Model.Quantity>
                    <span class="input-group-btn bootstrap-touchspin-injected">
                        <a href="@Url.Action("IncrementItem","Transaction",new { id=Model.Id})" class="btn btn-primary bootstrap-touchspin-up" type="button">+</a>
                    </span>
                </div>
            </div>
        </div>
        <span class="delivery-date text-muted">Instant Delivery</span>

    </div>
    <div class="item-options text-center">
        <div class="item-wrapper">
            <div class="item-cost">
                <h4 class="item-price">@Model.Product.Price @Model.Cart.Customer.Currency.Symbol</h4>
                <p class="card-text shipping">
                    <span class="badge rounded-pill badge-light-success">Digital Delivery</span>
                </p>
            </div>
        </div>
        <a href="@Url.Action("Delete","CartItems",new { id=Model.Id})" class="btn btn-light mt-1 remove-wishlist">
            <i data-feather="x" class="align-middle me-25"></i>
            <span>Remove</span>
        </a>

    </div>
</div>