@model VeeStoreA.Models.Cart

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@if (TempData["error"] != null)
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error</strong> @TempData["error"]
    </div>
}
<div>
    <h4>Cart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt>
            Total Amount
        </dt>
        <dd>
            @ViewBag.totalAmount QAR
        </dd>

    </dl>
</div>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Quantity</th>
        <th>Amount</th>
    </tr>
    @foreach (var item in Model.CartItems)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Product.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Product.Price)</td>
            <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
            <td>
                @{ var total = (int)item.Quantity * (int)item.Product.Price;}
                @Html.DisplayFor(modelItem => total)
            </td>
            <td align="center">
                @if (Model.Status == "Unpaid")
                {
                  @Html.ActionLink("Delete", "Delete","CartItems", new { id = item.Id }, new { @class = "btn btn-danger" })
                }
            </td>
        </tr>
    }
</table>
<p>
    @if (Model.Status == "Unpaid")
    {
        @Html.ActionLink("Check Out", "CheckOut", "Transaction", new { id = Model.Id }, new { @class = "btn btn-success" })
    }

    @Html.ActionLink("Back to List", "Index")
</p>
