@model VeeStoreA.Models.Cart
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_ThemeLayout.cshtml";
    var currecnySymbol = Model.Customer.Currency.Symbol;
    var currecnyMutliplier = Model.Customer.Currency.Multiplier;
    var totalCart = Model.CartItems.Sum(ci => ci.Quantity * ci.Product.Price) * currecnyMutliplier;

    var discountAmount = Model.CouponCode != null ? (totalCart * ((double)Model.CouponCode.DiscountPercentage / 100)) : 0;

}

<!-- BEGIN: Vendor CSS-->

<link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/vendors/css/forms/wizard/bs-stepper.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/vendors/css/forms/spinner/jquery.bootstrap-touchspin.css">

<!-- END: Vendor CSS-->
<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/css/pages/app-ecommerce.css">
<link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/css/plugins/forms/pickers/form-pickadate.css">
<link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/css/plugins/forms/form-wizard.css">
<link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/css/plugins/forms/form-validation.css">

<link rel="stylesheet" type="text/css" href="~/Content/Theme/app-assets/css/plugins/forms/form-number-input.css">
<!-- END: Page CSS-->
<!-- BEGIN: Content-->

<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>

<div class="content-body">
    <div class="bs-stepper checkout-tab-steps">
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Error</h4>
                <div class="alert-body">
                    @TempData["error"]
                </div>
            </div>
        }

        <!-- Wizard starts -->

        <div class="bs-stepper-header">
            <div class="step" data-target="#step-cart" role="tab" id="step-cart-trigger">
                <button type="button" class="step-trigger">
                    <span class="bs-stepper-box">
                        <i data-feather="shopping-cart" class="font-medium-3"></i>
                    </span>
                    <span class="bs-stepper-label">
                        <span class="bs-stepper-title">Cart</span>
                        <span class="bs-stepper-subtitle">Your Cart Items</span>
                    </span>
                </button>
            </div>
            <div class="line">
                <i data-feather="chevron-right" class="font-medium-2"></i>
            </div>
            <div class="step" data-target="#step-address" role="tab" id="step-address-trigger">
                <button type="button" class="step-trigger">
                    <span class="bs-stepper-box">
                        <i data-feather="home" class="font-medium-3"></i>
                    </span>
                    <span class="bs-stepper-label">
                        <span class="bs-stepper-title">Delivery</span>
                        <span class="bs-stepper-subtitle">Choose Your Delivery Method</span>
                    </span>
                </button>
            </div>
            <div class="line">
                <i data-feather="chevron-right" class="font-medium-2"></i>
            </div>
            <div class="step" data-target="#step-payment" role="tab" id="step-payment-trigger">
                <button type="button" class="step-trigger">
                    <span class="bs-stepper-box">
                        <i data-feather="credit-card" class="font-medium-3"></i>
                    </span>
                    <span class="bs-stepper-label">
                        <span class="bs-stepper-title">Payment</span>
                        <span class="bs-stepper-subtitle">Select Payment Method</span>
                    </span>
                </button>
            </div>
        </div>
        <!-- Wizard ends -->

        @Html.AntiForgeryToken()
    <div class="bs-stepper-content">
        <!-- Checkout Place order starts -->
        <div id="step-cart" class="content" role="tabpanel" aria-labelledby="step-cart-trigger">
            <div id="place-order" class="list-view product-checkout">
                <!-- Checkout Place Order Left starts -->
                <div class="checkout-items">
                    @foreach (var item in Model.CartItems)
                    {
                        Html.RenderPartial("_CartItemCard", item);
                    }

                </div>
                <!-- Checkout Place Order Left ends -->
                <!-- Checkout Place Order Right starts -->
                <div class="checkout-options">
                    <div class="card">
                        <div class="card-body">
                            <label class="section-label form-label mb-1">Options</label>

                            @using (Html.BeginForm("Apply", "Transaction"))

                            {
                                if (Model.CouponCodeId == null)
                                {


                                    <div class="coupons input-group input-group-merge">
                                        <input type="text" id="code" name="code" class="form-control" placeholder="Coupon Code" aria-label="Coupons" aria-describedby="input-coupons" />

                                        <input type="submit" value="Apply" class="input-group-text text-primary ps-1" id="input-coupons" />
                                    </div>
                                }
                                else
                                {
                                    <div class="coupons input-group input-group-merge">


                                        <span class="badge rounded-pill badge-light-primary">@Model.CouponCode.Code</span>

                                        @*<input type="text" class="form-control" readonly placeholder="Coupon" value="Test" aria-label="Coupons" aria-describedby="input-coupons" />*@

                                        <input type="submit" value="Remove Coupon Code" class="input-group-text text-primary ps-1" id="input-coupons" />
                                    </div>
                                }


                            }

                            <hr />
                            <div class="price-details">
                                <h6 class="price-title">Price Details</h6>
                                <ul class="list-unstyled">
                                    <li class="price-detail">
                                        <div class="detail-title">Total Price</div>
                                        <div class="detail-amt">@totalCart @currecnySymbol</div>
                                    </li>
                                    <li class="price-detail">
                                        <div class="detail-title">Discount</div>
                                        @if (Model.CouponCode == null)
                                        {
                                            <div class="detail-amt discount-amt text-danger">No Discount</div>
                                        }
                                        else
                                        {
                                            <div class="detail-amt discount-amt text-success">- @discountAmount @currecnySymbol</div>
                                        }

                                    </li>


                                </ul>
                                <hr />
                                <ul class="list-unstyled">
                                    <li class="price-detail">
                                        <div class="detail-title detail-total">Total</div>
                                        <div class="detail-amt fw-bolder">@(ViewBag.totalAmount - discountAmount) @currecnySymbol</div>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-primary w-100 btn-next place-order">Place Order</button>
                            </div>
                        </div>
                    </div>
                    <!-- Checkout Place Order Right ends -->
                </div>
            </div>
            <!-- Checkout Place order Ends -->
        </div>
        @using (Html.BeginForm("AddCard", "Customer", FormMethod.Post, new { id = "addCard" }))

        {
            
        }
        @using (Html.BeginForm("Checkout", "Transaction"))
        {
            <!-- Checkout Customer Address Starts -->
            <div id="step-address" class="content" role="tabpanel" aria-labelledby="step-address-trigger">
                <div id="checkout-address" class="list-view product-checkout">
                    <!-- Checkout Customer Address Left starts -->
                    <div class="card">
                        <div class="card-header flex-column align-items-start">
                            <h4 class="card-title">Choose Delivery Method</h4>
                            <p class="card-text text-muted mt-25">The Codes of The Cards You Will Buy Will Be Delivered Using The Selected Method</p>
                        </div>
                        <div class="card-body">
                            <div class="row custom-options-checkable g-1">
                                <div class="col-md-4">
                                    <input class="custom-option-item-check" type="radio" name="deliveryMethod" id="phoneMethod" disabled value="phoneDelivery">
                                    <label class="custom-option-item text-center p-1" for="phoneMethod">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle font-large-1 mb-75"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z" /></svg>
                                        <span class="custom-option-item-title h4 d-block">By Phone (Disabled)</span>
                                        <small>The codes will be sent to your phone through WhatsApp</small>
                                    </label>
                                </div>

                                <div class="col-md-4">
                                    <input class="custom-option-item-check" type="radio" name="deliveryMethod" id="emailMethod" checked value="emailDelivery" data-com.bitwarden.browser.user-edited="yes">
                                    <label class="custom-option-item text-center text-center p-1" for="emailMethod">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-inbox font-large-1 mb-75"><polyline points="22 12 16 12 14 15 10 15 8 12 2 12" /><path d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z" /></svg>
                                        <span class="custom-option-item-title h4 d-block">By Email</span>
                                        <small>The codes will be sent to the registered email</small>
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <input class="custom-option-item-check" type="radio" name="deliveryMethod" id="noMethod" value="noDelivery">
                                    <label class="custom-option-item text-center p-1" for="noMethod">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-slash font-large-1 mb-75"><circle cx="12" cy="12" r="10" /><line x1="4.93" y1="4.93" x2="19.07" y2="19.07" /></svg>
                                        <span class="custom-option-item-title h4 d-block">Do Not Send</span>
                                        <small>The codes will not be sent, but will be accessible through the "My Orders" Page</small>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Checkout Customer Address Left ends -->
                    <!-- Checkout Customer Address Right starts -->
                    <div class="customer-card">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Delivery Method</h4>
                            </div>
                            <div class="card-body actions">
                                <p class="card-text mb-0">Your Orders Will Always Be Accessible Through The "My Orders" Page</p>

                                <button type="button" class="btn btn-primary w-100 btn-next delivery-address mt-2">
                                    Confirm Delivery Method
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Checkout Customer Address Right ends -->
                </div>
            </div>
            <!-- Checkout Customer Address Ends -->
            <!-- Checkout Payment Starts -->
            <div id="step-payment" class="content" role="tabpanel" aria-labelledby="step-payment-trigger">
                <div class="list-view product-checkout">
                    <div class="payment-type">
                        <div class="card">
                            <div class="card-header border-bottom">
                                <h4 class="card-title">Payment Methods</h4>
                            </div>
                            <div class="card-body my-1 py-25">
                                <div class="row gx-4">
                                    <div class="col-lg-6">
                                        <h6 class="fw-bolder mb-2">Add Card</h6>

                                        <div id="creditCardForm" class="row gx-2 gy-1 validate-form">

                                            <div class="col-12 mt-0">
                                                <label class="form-label" for="addCardNumber">Card Number</label>
                                                <div class="input-group input-group-merge">
                                                    <input id="addCardNumber" name="addCard" form="addCard" class="form-control add-credit-card-mask" type="text" placeholder="xxxx xxxx xxxx xxxx" aria-describedby="addCard2" data-msg="Please enter your credit card number" data-com.bitwarden.browser.user-edited="yes" aria-invalid="false">

                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <label class="form-label" for="addCardName">Name On Card</label>
                                                <input type="text" id="addCardName"form="addCard" class="form-control" placeholder="John Doe" data-com.bitwarden.browser.user-edited="yes" aria-invalid="false">
                                            </div>

                                            <div class="col-6 col-md-3">
                                                <label class="form-label" for="addCardExpiryDate">Exp. Date</label>
                                                <input type="text" id="addCardExpiryDate"form="addCard" class="form-control add-expiry-date-mask" placeholder="MM/YY" data-com.bitwarden.browser.user-edited="yes" aria-invalid="false">
                                            </div>

                                            <div class="col-6 col-md-3">
                                                <label class="form-label" for="addCardCvv">CVV</label>
                                                <input type="text" id="addCardCvv"form="addCard" class="form-control add-cvv-code-mask" maxlength="3" placeholder="cvv">
                                            </div>


                                            <div class="col-12 mt-2 pt-1">
                                                <button type="submit" form="addCard" class="btn btn-primary me-1 waves-effect waves-float waves-light">Save Card For Future Payments</button>
                                            </div>


                                        </div>

                                    </div>
                                    <div class="col-lg-6 mt-2 mt-lg-0">
                                        <h6 class="fw-bolder mb-2">My Cards</h6>
                                        <div class="added-cards">
                                            <div class="cardMaster rounded border p-2 mb-1">
                                                <div class="d-flex justify-content-between flex-sm-row flex-column">
                                                    <div class="card-information">
                                                        <img class="mb-1 img-fluid" src="~/Content/Images/icons/payments/mastercard.png" alt="Master Card">
                                                        <div class="d-flex align-items-center mb-50">
                                                            <h6 class="mb-0">Tom McBride</h6>
                                                            <span class="badge badge-light-primary ms-50">Primary</span>
                                                        </div>
                                                        <span class="card-number">∗∗∗∗ ∗∗∗∗ 9856</span>
                                                    </div>
                                                    <div class="d-flex flex-column text-start text-lg-end">
                                                        <div class="d-flex order-sm-0 order-1 mt-1 mt-sm-0">
                                                            <button class="btn btn-outline-primary me-75 waves-effect" data-bs-toggle="modal" data-bs-target="#editCard">
                                                                Edit
                                                            </button>
                                                            <button class="btn btn-outline-secondary waves-effect">Delete</button>
                                                        </div>
                                                        <span class="mt-2">Card expires at 12/24</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cardMaster border rounded p-2">
                                                <div class="d-flex justify-content-between flex-sm-row flex-column">
                                                    <div class="card-information">
                                                        <img class="mb-1 img-fluid" src="~/Content/Images/icons/payments/visa.png" alt="Visa Card">
                                                        <h6>Mildred Wagner</h6>
                                                        <span class="card-number">∗∗∗∗ ∗∗∗∗ 5896</span>
                                                    </div>
                                                    <div class="d-flex flex-column text-start text-lg-end">
                                                        <div class="d-flex order-sm-0 order-1 mt-1 mt-sm-0">
                                                            <button class="btn btn-outline-primary me-75 waves-effect" data-bs-toggle="modal" data-bs-target="#editCard">
                                                                Edit
                                                            </button>
                                                            <button class="btn btn-outline-secondary waves-effect">Delete</button>
                                                        </div>
                                                        <span class="mt-2">Card expires at 02/24</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="amount-payable checkout-options">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Price Details</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled price-details">
                                    <li class="price-detail">
                                        <div class="details-title">Price of @Model.CartItems.Sum(ci => ci.Quantity) item(s)</div>
                                        <div class="detail-amt">
                                            <strong>@totalCart</strong>
                                        </div>
                                    </li>
                                    <li class="price-detail">
                                        <div class="details-title">Delivery Charges</div>
                                        <div class="detail-amt discount-amt text-success">Free</div>
                                    </li>
                                    <li class="price-detail">
                                        <div class="detail-title">Discount</div>
                                        @if (Model.CouponCode == null)
                                        {
                                            <div class="detail-amt discount-amt text-danger">No Discount</div>
                                        }
                                        else
                                        {
                                            <div class="detail-amt discount-amt text-success">- @discountAmount @currecnySymbol</div>
                                        }

                                    </li>
                                </ul>
                                <hr />
                                <ul class="list-unstyled price-details">
                                    <li class="price-detail">
                                        <div class="details-title">Amount Payable</div>
                                        <div class="detail-amt fw-bolder">@(ViewBag.totalAmount - discountAmount) @currecnySymbol</div>
                                    </li>
                                </ul>
                            </div>
                            @Html.HiddenFor(mode => mode.Id)
                            <input type="submit" class="btn btn-primary w-100 btn-next delivery-address mt-2" value="Place Order" />
                            @*<a class="btn btn-primary w-100 btn-next delivery-address mt-2">
                                Place Order
                            </a>*@
                        </div>
                    </div>
                </div>
            </div>
            <!-- Checkout Payment Ends -->
        }
        <!-- </div> -->
    </div>


    </div>
</div>



<!-- BEGIN: Page Vendor JS-->

@Scripts.Render("~/Content/Theme/app-assets/vendors/js/jquery/jquery.min.js")

<script src="~/Content/Theme/app-assets/vendors/js/forms/wizard/bs-stepper.min.js"></script>
<script src="~/Content/Theme/app-assets/vendors/js/forms/spinner/jquery.bootstrap-touchspin.js"></script>
<script src="~/Content/Theme/app-assets/js/scripts/pages/app-ecommerce-checkout.js"></script>
