@model IEnumerable<VeeStoreA.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (User.Identity.Name == "admin@admin.com")
    {
        @Html.ActionLink("Create New", "Create")
    }



    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-inline" }))
    {

        @Html.TextBox("SearchString", null, new { @class = "form-control mb-2" })
        <input type="submit" class="btn btn-danger mb-2" value="Search" />

    }
    <br />

    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td>
     
                    <a href="@Url.Action("Details",new { id=item.Id})">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) QAR
                </td>

                <td>
                   
                    @if (User.Identity.Name == "admin@admin.com")
                    {
                        
                        @Html.ActionLink("Edit Product", "Edit", "Products", new { id = item.Id }, new { @class = "btn btn-danger" })

                    }
                    else
                    {
                        @Html.ActionLink("Add to cart", "AddToCart", "Transaction", new { id = item.Id }, new { @class = "btn btn-success" })

                    }


                </td>
            </tr>
        }

    </table>

