@model VeeStoreA.Models.Faq
@using VeeStoreA.Models
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_ThemeLayout.cshtml";
}
<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>

<div class="content-wrapper container-xxl p-0">



    <div class="content-body">
        <!-- search header -->
        
        <section id="faq-search-filter">

            <div class="card faq-search" style="background-image: url('/Content/Images/banner.png')">


                <div class="card-body text-center">
                    <!-- main title -->
                    <h2 class="text-primary">Let's answer some questions</h2>
                    <br />
                    <br />

                    <!-- search input -->
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "faq-search-input" }))
                    {
                       
                            <div class="input-group input-group-merge">
                                <div class="input-group-text">
                                    <i data-feather="search"></i>
                                </div>
                                <input type="text" value="@ViewBag.faqsearch" name="faqSearchString" class="form-control" placeholder="Search FAQ..." />
                            </div>
                        
                    }
                    <br />
                    <br />

                </div>
            </div>
        </section>

        <!-- /search header -->
        <!-- frequently asked questions tabs pills -->
        <section id="faq-tabs">
            <!-- vertical tab pill -->
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="faq-navigation d-flex justify-content-between flex-column mb-2 mb-md-0">


                        <!-- FAQ image -->
                        <img src="~/Content/Images/faq-illustrations.svg" class="img-fluid d-none d-md-block" alt="demand img" />
                    </div>
                </div>

                <div class="col-lg-9 col-md-8 col-sm-12">
                    <!-- pill tabs tab content -->
                    <div class="tab-content">
                        <!-- payment panel -->
                        <div id="faq-payment" aria-labelledby="payment" aria-expanded="true">
                            <!-- icon and header -->
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-tag bg-light-primary me-1">
                                    <i data-feather="help-circle" class="font-medium-4"></i>
                                </div>
                                <div>
                                    <h4 class="mb-0">Your Frequently Asked Questions</h4>
                                    <span>You Ask, We Answer.</span>
                                </div>
                            </div>

                            <!-- frequent answer and question  collapse  -->


                            <div class="accordion accordion-margin mt-2" id="faq-payment-qna">

                                @foreach (var faqItem in (IEnumerable<VeeStoreA.Models.Faq>)ViewBag.faqItems)
                                {

                                    <div class="card accordion-item">
                                        <h2 class="accordion-header" id="paymentTwo">
                                            <button class="accordion-button" data-bs-toggle="collapse" role="button" data-bs-target="#faq-payment-two" aria-expanded="true" aria-controls="faq-payment-two">
                                                @faqItem.Question
                                            </button>
                                        </h2>
                                        <div id="faq-payment-two" class="collapse show" aria-labelledby="paymentTwo" data-bs-parent="#faq-payment-qna">
                                            <div class="accordion-body">
                                                @faqItem.Answer
                                            </div>
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </section>
        
        <div class="divider divider-primary">
            <div class="divider-text ">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down"><line x1="12" y1="5" x2="12" y2="19"></line><polyline points="19 12 12 19 5 12"></polyline></svg>
            </div>
        </div>
        <!-- / frequently asked questions tabs pills -->
        <!-- contact us -->
        <section class="faq-contact">
            <div class="row mt-5 pt-75">
                <div class="col-12 text-center">
                    <h2>You still have a question?</h2>
                    <p class="mb-3">
                        If you cannot find a question in our FAQ, you can always send us your question. We will answer you shortly!
                    </p>
                </div>
                <center>
                    <div class="card w-50">
                        <div class="card-header">
                            <h4 class="card-title">Ask Your Own Question</h4>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()



                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-1">

                                            <div class="input-group input-group-merge">
                                                <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg></span>
                                                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Full Name" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-1">

                                            <div class="input-group input-group-merge">
                                                <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg></span>
                                               @Html.EditorFor(m=>m.Email, new { htmlAttributes = new { @class = "form-control",placeholder ="Email" } })
                                              
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-1">

                                            <div class="input-group input-group-merge">
                                                @Html.TextAreaFor(m=>m.Question,4,4,  new { @class = "form-control", placeholder = "Your Question" } )
                                               
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary me-1 waves-effect waves-float waves-light">Submit</button>
                                
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </center>
            </div>
        </section>
        <!--/ contact us -->

    </div>
</div>
