@model VeeStoreA.Models.CreditCard
@using VeeStoreA.Models
@{

    ViewBag.Title = "CreateCreditCard";
    Layout = "~/Views/Shared/_ThemeLayout.cshtml";
}

<div class=" content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">Profile</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-pills mb-2">
                        <!-- account -->
                        <li class="nav-item">
                            <a class="nav-link"  href="@Url.Action("Details", "Customers", new { id = User.Identity.Name + "/"})">
                                <i data-feather="user" class="font-medium-3 me-50"></i>
                                <span class="fw-bold">Account</span>
                            </a>
                        </li>
                        <!-- orders -->
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Orders", "Customers", new { id = User.Identity.Name + "/" })">
                                <i data-feather="archive" class="font-medium-3 me-50"></i>
                                <span class="fw-bold">My Orders</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" style="pointer-events:none;">
                                <i data-feather="credit-card" class="font-medium-3 me-50"></i>
                                <span class="fw-bold">My Credit Cards</span>
                            </a>
                        </li>
                    </ul>
                    <div class="payment-type">
                        <div class="card">
                            <div class="card-header border-bottom">
                                <h4 class="card-title">Payment Methods</h4>
                            </div>
                            <div class="card-body my-1 py-25">
                                <div class="row gx-4">
                                    <div class="col-lg-6 mt-2 mt-lg-0">

                                        @using (Html.BeginForm())

                                        {

                                            <h6 class="fw-bolder mb-2">Add Card</h6>

                                            <div id="creditCardForm" class="row gx-2 gy-1 validate-form">

                                                <div class="col-12 mt-0">
                                                    @Html.LabelFor(m => m.Number, htmlAttributes: new { @class = "form-label" })
                                                    @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control add-credit-card-mask", @placeholder = "XXXX XXXX XXXX XXXX" } })
                                                    @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })

                                                    @*<label class="form-label" for="addCardNumber">Card Number</label>
                                                        <div class="input-group input-group-merge">
                                                            <input id="addCardNumber" name="addCard" form="addCard" class="form-control add-credit-card-mask" type="text" placeholder="XXXX XXXX XXXX XXXX" aria-describedby="addCard2" data-msg="Please enter your credit card number" data-com.bitwarden.browser.user-edited="yes" aria-invalid="false">

                                                        </div>*@
                                                </div>

                                                <div class="col-md-6">
                                                    @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "form-label" })
                                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Dania Itani" } })
                                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                                    @*<label class="form-label" for="addCardName">Name On Card</label>
                                                        <input type="text" id="addCardName" form="addCard" class="form-control" placeholder="John Doe" data-com.bitwarden.browser.user-edited="yes" aria-invalid="false">*@
                                                </div>

                                                <div class="col-6 col-md-3">
                                                    @Html.LabelFor(m => m.Expiry, htmlAttributes: new { @class = "form-label" })
                                                    @Html.EditorFor(model => model.Expiry, new { htmlAttributes = new { @class = "form-control add-expiry-date-mask", @placeholder = "MM/YY", maxlength = "5" } })
                                                    @Html.ValidationMessageFor(model => model.Expiry, "", new { @class = "text-danger" })
                                                    @*<label class="form-label" for="addCardExpiryDate">Exp. Date</label>
                                                        <input type="text" id="addCardExpiryDate" form="addCard" class="form-control add-expiry-date-mask" placeholder="MM/YY" data-com.bitwarden.browser.user-edited="yes" aria-invalid="false">*@
                                                </div>

                                                <div class="col-6 col-md-3">
                                                    @Html.LabelFor(m => m.Carts.First().CreditCard.CVV, htmlAttributes: new { @class = "form-label" })
                                                    @Html.EditorFor(model => model.CVV, new { htmlAttributes = new { @class = "form-control add-cvv-code-mask", @placeholder = "CVV", @maxlength = "3" } })
                                                    @Html.ValidationMessageFor(model => model.CVV, "", new { @class = "text-danger" })


                                                    @*<label class="form-label" for="addCardCvv">CVV</label>
                                                        <input type="text" id="addCardCvv" form="addCard" class="form-control add-cvv-code-mask" maxlength="3" placeholder="cvv">*@
                                                </div>

                                                <div class="col-12 mt-1">
                                                    @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "form-label" })

                                                    @Html.DropDownList("Type", null, htmlAttributes: new { @class = "hide-search form-select select2-hidden-accessible", })
                                                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-12 mt-2 pt-1">
                                                    <button type="submit" class="btn btn-primary me-1 w-100 waves-effect waves-float waves-light">Save Card For Future Payments</button>
                                                </div>


                                            </div>


                                        }
                                    </div>
                                    <div class="col-lg-6 mt-2 mt-lg-0">
                                        <h6 class="fw-bolder mb-2">My Cards</h6>
                                        <div class="added-cards">
                                            @if (ViewBag.creditCards == null)
                                            {
                                                <div class="detail-amt discount-amt text-danger">No Cards Found</div>
                                            }
                                            else
                                            {
                                                foreach (var creditCard in (IEnumerable<CreditCard>)(ViewBag.CreditCards))
                                                {
                                                    Html.RenderPartial("_AddedCard", creditCard);
                                                }
                                            }


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>