@model IEnumerable<VeeStoreA.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ThemeLayout.cshtml";
}

<div class="content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <a type="button" class="btn btn-icon btn-gradient-primary waves-effect waves-float waves-light float-start" href="@Url.Action("AdminPanel", "Home")">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
                        </a>

                        <h2 class="content-header-title pd-1"> &nbsp; Customers</h2>
                        

                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive" style="padding-bottom: 150px;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Join Date</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.Email == "admin@admin.com")
                        {
                            continue;
                        }
                        <tr>
                             <td style="padding-top: 20px; padding-bottom: 20px;">
                                @item.Name
                            </td> 
                            @*<td>
                                @item.Name
                            </td>*@
                            <td>
                                <span class="badge rounded-pill badge-light-warning me-1">@item.Email</span>
                            </td>
                            <td>
                                @item.PhoneNumber
                            </td>
                            <td>
                                @item.JoinedAt
                            </td>
                            <td>
                                @{
                                    if (item.Status == "Active" || item.Status == null)
                                    {
                                        <span class="badge rounded-pill badge-light-success me-1">Active</span>
                                    }
                                    else
                                    {
                                        <span class="badge rounded-pill badge-light-danger me-1">Suspended</span>
                                    }
                                }
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button"
                                            class="btn btn-sm dropdown-toggle hide-arrow py-0 waves-effect waves-float waves-light"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-more-vertical">
                                            <circle cx="12" cy="12" r="1"></circle>
                                            <circle cx="12" cy="5" r="1"></circle>
                                            <circle cx="12" cy="19" r="1"></circle>
                                        </svg>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" style="">
                                        <a class="dropdown-item" href="@Url.Action("Details", "Customers" , new { id=item.Email + "/"})">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user me-50"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                            <span>Details</span>
                                        </a>
                                        @*<a class="dropdown-item" href="@Url.Action(" Delete", "Customers" , new { id=item.Email + "/"})">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-trash me-50">
                                                <polyline points="3 6 5 6 21 6"></polyline>
                                                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                </path>
                                            </svg>
                                            <span>Delete</span>
                                        </a>*@
                                        <a class="dropdown-item" href="@Url.Action("ToggleCustomerVisibility", "Customers" , new { id=item.Email + "/"})">
                                            @{
                                                if (item.Status == "Active" || item.Status == null)
                                                {
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye-off me-50"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg>
                                                    <span>Suspend</span>
                                                    }
                                                else
                                                {
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye me-50"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                                    <span>Unsuspend</span>
                                                }
                                            }
                                           
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>


                    }
                </tbody>
            </table>
        </div>
        <!-- E-commerce Products Ends -->

    </div>
</div>
